/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests with JnJ Green Beans setting
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'JnJ test profile'
    config_profile_description = 'JnJ test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'


    // Input/output data
    input   = "s3://itx-bnj-app-nftowerdev/bulkrna-3.13.2/imm_test_data/sample_spreadsheet.csv"
    outdir  = "s3://itx-bnj-app-nftowerdev/bulkrna-3.13.2/imm_test_results_v2/"

    // Genome references
    fasta              = "s3://itx-acd-data-pipelines/jrd_reference/Public/Homo_sapiens/Ensembl/GRCh38_106/Sequence/Genome/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
    gtf                = "s3://itx-acd-data-pipelines/jrd_reference/Public/Homo_sapiens/Ensembl/GRCh38_106/Annotation/Genes/Homo_sapiens.GRCh38.106.gtf.gz"
    transcript_fasta   = "s3://itx-acd-data-pipelines/jrd_reference/Public/Homo_sapiens/Ensembl/GRCh38_106/Sequence/Genome/transcriptome_clean.fasta"
    haplotype_map      = "s3://itx-bnj-app-nftowerdev/bulkrna-3.13.2/imm_test_data/Homo_sapiens_assembly38.haplotype.map"

    // Other parameters
    extra_kallisto_quant_args   = "--bootstrap-samples 11"
    extra_salmon_quant_args     = "--validateMappings --numBootstraps 11"
    aligner                     = "star_rsem"
    pseudo_aligner              = "kallisto"
    save_reference              = true
    star_ignore_sjdbgtf         = false

}
